<!DOCTYPE HTML>
<html>
<head> 
    <title>Bewerbungsseite</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="style/style.css" rel="stylesheet"/>
</head>
<body class="index">
	<div class="banner">
		<div class="bannerContent1">
			<span id="firstN">Tobias</span> <span id="lastN">Knopf</span>
		</div>
		<div class="bannerContent2">
			<span id="bannerInfo">Wirtschaftsinformatik-Bachelor</span>
				<a href="/personal">Persönliches</a>
				<a href="/lebenslauf">Lebenslauf</a>
				<a href="/home" class="activePage">Home</a>
		</div>
	</div>
	<div class="contentPanel">
		<div class="gridContIndex">
			<div class="picPanel">
				<img src="./ressources/ownerPic.jpg">
			</div>
			<div class="welcomePanel">
				<!-- TODO: hier einen Text einbauen, frei nach dem motto: für alle die auf Diese Seite gekommen sind um sich über den
			Bewerber TK weiter zu informieren habe ich hier"link" ein Paar zusätzliche Informationen vorbereitet um den kandidaten
			ein bisschen besser kennen zu lernen. Für alle die über LinkedIn o.Ä. gekommen sind, ist hier der Lebenslauf -->
				<h1>Hallo,</h1>
				<h3>braucht ihr Team Verstärkung?</h3>
				<p>Wenn Ihr Unternehmen tatkräftige Unterstützung bei der
					Entwicklung oder Betreuung von Projekten in Java benötigen, dann
					schauen Sie sich um und mach sich einen ersten Eindruck von Ihrem
					zukünftigen Mitarbeiter.</p>
				<p>Aus Datenschutz-Gründen fehlt in den Dokumenten die vollständige Anschrift. 
				Wenn diese benötigt wird, schreiben Sie mir eine Mail und ich werde sie Ihnen übermitteln.</p>
			</div>
			<div class="infoGrid">
				<div class="lookingForBox">
					<h3>Gesuchte Tätigkeit</h3>
					<p>(Junior) Java Entwickler</p>
				</div>
				<div class="mailBox">
					<h3>Mail</h3>
					<p>Tobias_K_89@web.de</p>
					<p>
						oder klicken Sie <a href="mailto:tobias_k_89@web.de">Hier</a>
					</p>
				</div>
				<div class="socialBox">
					<h3>Social</h3>
					<br>
					<a href="https://www.linkedin.com/in/tobias-k-239841170/" class="toolTipLinkedIn">
						<img src="/ressources/Logo-2C-21px-R.png">
						<span class="toolTipTextLinkedIn">Weiter zum LinkedIn-Account</span>
					</a>
					
				</div>
			</div>
		</div>
		<div class="additionalContentGrid">
			<div>
				<p>Meine Bewerbung Herunterladen</p>
				<a href="/ressources/Bewerbung-Tobias_Knopf.zip" download>
					<button>Download</button>
				</a>
			</div>
			<div class="aboutMeBox">Über Mich<br>???</div>
			<div>
				<p>GitRepository dieser Seite:</p>
					<a href="https://github.com/Nephalis/cv-online" target="_blank">
						<img alt="Octocat" src="/ressources/GitHub-Mark-32px.png">
					</a><br>
				Link zur Webapp
			</div>
		</div>
		<div class="footer">Impressum und der Kram der sonst noch nötig
			sein könnte...</div>
	</div>

</body>
</html>
