<!DOCTYPE HTML>
<html>
<head> 
    <title>Bewerbungsseite</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="style/style.css" rel="stylesheet"/>
</head>
<body class="index">

	<div class="banner">
		<div class="bannerContent1">
			<span id="firstN">Tobias</span> <span id="lastN">Knopf</span>
		</div>
		<div class="bannerContent2">
			<span id="bannerInfo">Wirtschaftsinformatik-Bachelor</span>
				<a href="/ffbeApp">FFBE App</a>
				<a href="/greeting">Greetings</a>
				<a href="/lebenslauf">Lebenslauf</a>
				<a href="" class="activePage">Home</a>
		</div>
	</div>
	<div class="contentPanel">
		<div class="gridContIndex">
			<div class="picPanel"><img src="./style/ownerPic.jpg"></div>
			<div class="welcomePanel">
			<!-- TODO: hier einen Text einbauen, frei nach dem motto: für alle die auf Diese Seite gekommen sind um sich über den
			Bewerber TK weiter zu informieren habe ich hier"link" ein Paar zusätzliche Informationen vorbereitet um den kandidaten
			ein bisschen besser kennen zu lernen. Für alle die über LinkedIn o.Ä. gekommen sind, ist hier der Lebenslauf -->
			<h1>Hallo,</h1>
			<h3>braucht ihr Team Verstärkung?</h3>
			<p>Wenn Ihr Unternehmen tatkräftige Unterstützung bei der Entwicklung oder Betreuung von Projekten in Java benötigen, dann schauen Sie sich um und mach sich einen ersten Eindruck von Ihrem zukünftigen Mitarbeiter.</p>
			<p>Aus Datenschutz-Gründen sind hier nicht alle relevanten Daten Hinterlegt. In der Herunterladbaren Bewerbung sind keine Zeugnisse enthalten sowie keine Vollständige Adresse.</p>
			</div>
			<div class="infoGrid">
				<div class="lookingForBox">
					<h3>Gesuchte Tätigkeit</h3>
					<p>(Junior) Java Entwickler</p>
				</div>
				<div class="mailBox">
					<h3>Mail</h3>
					<p>Tobias_K_89@web.de</p>
					<p>oder klicken Sie <a href="mailto:tobias_k_89@web.de">Hier</a></p>
				</div>
				<div class="socialBox">
					<h3>Social</h3>
					<p>Hier profile von Stepstone, Monster oder sonst was hinterlegen</p>
				</div>
			</div>
		</div>
		<div class="additionalContentGrid">
				<div class="box_h">Meine Bewerbung Herunterladen</div>
    			<div class="aboutMeBox">Über Mich</div>
    			<div class="box_j">Kostprobe (Git-Repo verknüpfen & Link zur WebApp)</div>
			</div>
		<div class="footer">
		Impressum und der Kram der sonst noch nötig sein könnte...
		</div>
	</div>

</body>
</html>
