<!DOCTYPE HTML>
<html lang="de">
<head>
<title>Lebenslauf</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style/style.css" rel="stylesheet" />
</head>
<body>

	<div class="banner">
		<div class="bannerContent1">
			<span id="firstN">Tobias</span> <span id="lastN">Knopf</span>
		</div>
		<div class="bannerContent2">
			<span id="bannerInfo">Wirtschaftsinformatik-Bachelor</span>
			<a href="/ffbeApp">FFBE App</a>
			<a href="/greeting">Greetings</a>
			<a href="/lebenslauf" class="activePage">Lebenslauf</a>
			<a href="">Home</a>
		</div>
	</div>
	<div class="contentPanel">
		<div class="gridContCV">
			<div class="cvGroup">
				<div class="grpHead">
					<h3>Motivation</h3>
				</div>
				<div class="grpContent">
					<p>Wissbegieriger Wirtschaftsinformatik-Bachelor mit Geschick
						zum Programmieren, sucht einen Platz in einem Abwechslungsreichen
						und herausfordernden Arbeitsumfeld, als Mitarbeiter in der
						Softwareentwicklung Ihrer Firma.</p>
				</div>
			</div>
			<div class="cvGroup">
				<div class="grpHead">
					<h3>Bisherige Tätigkeiten:</h3>
				</div>
				<div class="grpContent">
					<p>Nach Beendigung des Praktikums Übergang in eine
						Werkstudententätigkeit am FZI. Während meiner Tätigkeit am FZI
						durfte ich SQLite + JDBC, Selenium und Struts2 kennen lernen.
						Darüber hinaus wurden Erfahrungen im Schreiben von Dokumentationen
						gewonnen.</p>
					<p>Praktikant als Entwickler für 3 Monate.</p>
					<p>5 Jahre Anlagenmechaniker am Flughafen Tegel</p>

				</div>
			</div>
			<div class="cvGroup">
				<div class="grpHead">
					<h3>Berufserfahrung:</h3>
				</div>
				<div class="grpContent">
					<table class="contentTable">
						<tr>
							<td>Hilfsstelle als Entwickler<br> Forschungszentrum
								für Informatik, Berlin
							</td>
							<td>seit Oktober 2017</td>
						</tr>
						<tr>
							<td>Anlagenmechaniker für Heizung, Klima und Sanitär<br>
								Flughafen Berlin-Brandenburg GmbH am Standort Tegel
							</td>
							<td>Januar 2010 – Oktober 2015</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="cvGroup">
				<div class="grpHead">
					<h3>Ausbildung</h3>
				</div>
				<div class="grpContent">
					<table class="contentTable">
						<tr>
							<td>Studium der Wirtschaftsinformatik<br> Hochschule
								für Technik und Wirtschaft<br> Treskowallee 8<br>
								10318 Berlin<br>
							</td>
							<td>Oktober 2015 – April 2018</td>
						</tr>
						<tr>
							<td>Ausbildung zum Anlagenmechaniker für Sanitär-, Heizungs-
								und Klimaanlagen<br> Flughafen Berlin-Brandenburg GmbH am
								Standort Tegel<br> Berufsschule: Oberstufenzentrum
								Max-Taut-Schule<br> Fachabitur im Anschluss der
								Berufsschule<br> Abschluss: Gesellenbrief und Fachabitur
							</td>
							<td>Januar 2010 – Oktober 2015</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="cvGroup">
				<div class="grpHead">
					<h3>Technische Fertigkeiten</h3>
				</div>
				<div class="grpContent">
					<p>
						Bewertung des Wissenstandes:<br> + Grundlagenwissen, ++
						Erweitertes Wissen, +++ Expertenwissen;
					</p>
					<div class="skillMatrix">
						<div class="head">Kategorie</div>
						<div class="head">Unterart</div>
						<div class="head">Wissensstand</div>
						<div class="head">Erfahrung in Jahren</div>
						<div class="category1">Programmieren</div>
						<div class="subCat1_1">Java</div>
						<div class="subCat1_1expLevel">+</div>
						<div class="subCat1_1expTime">1,5</div>
						
						<!-- 
						<div class="category"></div>
						<div class="subCategories"></div>
						<div class="expLevel"></div>
						<div class="expTime"></div> -->
						
					</div>					
				</div>
			</div>
		</div>

		<div class="footer">Impressum und der Kram der sonst noch nötig
			sein könnte...</div>
	</div>

</body>
</html>
