<!DOCTYPE html>
<html lang="de">
<head>
<title>Persönliches</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style/style.css" rel="stylesheet" />
</head>
<body>

	<div class="banner">
		<div class="bannerContent1">
			<span id="firstN">Tobias</span> <span id="lastN">Knopf</span>
		</div>
		<div class="bannerContent2">
			<span id="bannerInfo">Wirtschaftsinformatik-Bachelor</span>
			<a href="/personal" class="activePage">Persönliches</a>
			<a href="/lebenslauf">Lebenslauf</a>
			<a href="/home">Home</a>
		</div>
	</div>

	<div class="contentPanel">
		<div class="gridContPerso">
			<div class="pictype1">
				<img src="/ressources/studies.jpg" title="Designed by suksao / Freepik">
				<a class="credit" href="http://www.freepik.com">Designed by suksao / Freepik</a>
			</div>
			<div class="textpanelType1">
				<p>Nach dem erfolgreichen Beenden meines Bachelor-Studiums der Wirtschaftsinformatik, möchte ich meine erworbenen Kenntnisse
				 in Ihrem Unternehmen unter Beweis stellen. Da trifft es sich gut, dass Sie gerade einen Junior Entwickler Java suchen, 
				 denn dieser Werdegang entspricht genau meinen Vorstellungen. Während des Studiums habe ich festgestellt, ich habe viel Freude 
				 am Programmieren und bei den gestellten Aufgaben wurde jedes Mal aufs Neue mein Ehrgeiz geweckt, die gestellte Aufgabe zu 
				 bewältigen, was mir auch stets gelang. Dabei aufgetretene Schwierigkeiten weckten umso mehr das Bestreben sie zu bewältigen. 
				</p>
			</div>
			<hr>
			<div class="textpanelType2">
				<p>In meiner Studienzeit wurde auf eine umfassende Grundausbildung in unterschiedlichen Bereichen des Programmierens Wert gelegt. 
				So kam ich zu ersten Einblicken in PHP, HTML, CSS, JavaScript, Ajax, R und Python. Da hingegen wurden tiefere Kenntnisse in Java 
				und Datenbank-Technologien wie SQL und JDBC vermittelt. Aufbauend auf diesen Kenntnissen, habe ich ein Praktikum am 
				Forschungszentrum Informatik in Berlin als Programmierer absolviert und bin über das Praktikum hinaus bis zum heutigen Tag dort 
				tätig. Während dieser Zeit habe ich meine Java-Kenntnisse in unterschiedlichen Projekten vertieft, sowie neue Technologien 
				kennen und nutzen gelernt.
				</p>
			</div>
			<div class="pictype2">
				<img src="/ressources/programming.jpg" title="Designed by Creativeart / Freepik">
				<a class="credit" href="http://www.freepik.com">Designed by Creativeart / Freepik</a>
			</div>
			<hr>
			<div class="pictype1">
				<img src="/ressources/dogNature.jpg" title="credit the author of the free stockpic">
			</div>
			<div class="textpanelType1">
				<p>
				Einen Ausgleich zur sitzenden Tätigkeit erhalte ich durch die ausgedehnten Gassi-Runden für unseren Hund. Da ich nicht innerhalb
				von Berlin wohne, sind diese Runden frei von Stadtverkehr und Lärm, wodurch auch nach einem stressigen Tag die Nerven wieder
				weitestgehend beruhigt sind.
				<br>
				Binge Watching der einen oder anderen Serie soll angeblich auch mal vorkommen ;)
				</p>
			</div>
			<hr>
			<div class="textpanelType2">
				<p>Darüber hinaus halte ich mich immer auf dem Laufenden wenn es um techische Neuheiten geht und probiere auch die eine oder andere
				neue Technologie aus. Aktuell beschäftige ich mich mit Spring Boot MVC. Die dabei entstehende WebApp ist um ein MobileGame namens
				FinalFantasyBraveExvius angeseiedelt und wird hier verlinkt, sobald einige Funktionen zur Verfügung stehen.</p>
				<br></div>
			<div class="pictype2">
				<img src="/ressources/techy.jpg" title="Designed by Freepik">
				<a class="credit" href="http://www.freepik.com">Designed by Freepik</a>
			</div>
			<hr>
			<div class="pictype1">
				<img src="/ressources/placeholder.jpg" title="credit the author of the free stockpic">
			</div>
			<div class="textpanelType1">test</div>
			<hr>
			<div class="textpanelType2">test</div>
			<div class="pictype2">
				<img src="/ressources/placeholder.jpg" title="credit the author of the free stockpic">
			</div>
			<hr>
		</div>
	</div>
</body>
</html>