<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Persönliches</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style/style.css" rel="stylesheet" />
</head>
<body>

	<div class="banner">
		<div class="bannerContent1">
			<span id="firstN">Tobias</span> <span id="lastN">Knopf</span>
		</div>
		<div class="bannerContent2">
			<span id="bannerInfo">Wirtschaftsinformatik-Bachelor</span>
			<a href="/personal">Persönliches</a>
			<a href="/lebenslauf" class="activePage">Lebenslauf</a>
			<a href="/home">Home</a>
		</div>
	</div>

</body>
</html>