<!DOCTYPE html>
<html lang="de">
<head>
<title>Persönliches</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style/style.css" rel="stylesheet" />
</head>
<body>

	<div class="banner">
		<div class="bannerContent1">
			<span id="firstN">Tobias</span> <span id="lastN">Knopf</span>
		</div>
		<div class="bannerContent2">
			<span id="bannerInfo">Wirtschaftsinformatik-Bachelor</span>
			<a href="/personal" class="activePage">Persönliches</a>
			<a href="/lebenslauf">Lebenslauf</a>
			<a href="/home">Home</a>
		</div>
	</div>

	<div class="contentPanel">
		<div class="gridContPerso">
			<div class="pictype1">
				<img src="/ressources/studies.jpg" title="Designed by suksao / Freepik">
				<a class="credit" href="http://www.freepik.com">Designed by suksao / Freepik</a>
			</div>
			<div class="textpanelType1"><p>test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test</p></div>
			<hr>
			<div class="textpanelType2"><p>test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test</p></div>
			<div class="pictype2">
				<img src="/ressources/programming.jpg" title="Designed by Creativeart / Freepik">
				<a class="credit" href="http://www.freepik.com">Designed by Creativeart / Freepik</a>
			</div>
			<hr>
			<div class="pictype1">
				<img src="/ressources/placeholder.jpg" title="credit the author of the free stockpic">
			</div>
			<div class="textpanelType1">test</div>
			<hr>
			<div class="textpanelType2">test</div>
			<div class="pictype2">
				<img src="/ressources/placeholder.jpg" title="credit the author of the free stockpic">
			</div>
			<hr>
			<div class="pictype1">
				<img src="/ressources/placeholder.jpg" title="credit the author of the free stockpic">
			</div>
			<div class="textpanelType1">test</div>
			<hr>
			<div class="textpanelType2">test</div>
			<div class="pictype2">
				<img src="/ressources/placeholder.jpg" title="credit the author of the free stockpic">
			</div>
			<hr>
		</div>
	</div>
</body>
</html>